@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		9;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#header {
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header img{
	max-width:175px;
}
#homeSlideshow {
	clear: both;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 0;
	width: 100%;
	height: 146px;
	display: block;
	position: relative;
}
#homeSlideshow img {
	width: 100%;
}
#homeSlideshow ul {
	list-style-type: none;
	margin: 0;
}
#homeSlideshow ul li {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	padding: 0;
	line-height: 1em;
}
#middle_row {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-top: 4px solid #cfcfcf;
	margin-bottom:10px;
}
#bottom_row {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-top: 4px solid #cfcfcf;
	margin-bottom:10px;
}
#bottom_row h2{font-size: 150%;}
iframe{
	width:100%;
	height:315px;
}
#aboutBox{
    display:none;
    position:fixed;
	left:10%;        
    top:25%;         
    width:80%;     
    height:40%;
    background: rgba(255,251,240,.8);
	border-color: rgba(255,251,240,.8);
	border-radius: 5px;
    box-shadow: 0 0 20px #9ecaed;;
    z-index:1000;      
}
#siteBox{
    display:none;
    position:fixed;
	left:10%;        
    top:10%;         
    width:80%;     
    height:80%;
    background: rgba(255,251,240,.8);
	border-color: rgba(255,251,240,.8);
	border-radius: 5px;
    box-shadow: 0 0 20px #9ecaed;;
    z-index:1000;      
}
#refBox{
    display:none;
    position:fixed;
	left:10%;        
    top:5%;         
    width:80%;     
    height:100;
    background: rgba(255,251,240,.8);
	border-color: rgba(255,251,240,.8);
	border-radius: 5px;
    box-shadow: 0 0 20px #9ecaed;;
    z-index:1000;      
}
#cokeBox, #spriteBox, #pepperBox{
    display:none;
    position:fixed;
	left:10%;        
    top:23%;         
    width:80%;     
    height:60%;
    background: rgba(255,251,240,.9);
	border-color: rgba(255,251,240,.9);
	border-radius: 5px;
    box-shadow: 0 0 20px #9ecaed;;
    z-index:1000;      
}
#cokeBox a, #spriteBox a, #pepperBox a{margin-left: 10px;}
#siteBox iframe{
	width: 80%;
	height: 450px;
}
#h3box {
    font-size: 10px;
    margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
	text-align:justify;
}
#h2box{
	color: rgba(93,120,159,1);
    font-size: 13px;
    margin: 10px 0;
}
#closeAbout, #closeSite, #closeRef, #closeCoke, #closeSprite, #closePepper{
	float: right;
	margin-top:5px;
	margin-right:5px;
}
#coke_3D_image {
	background-image: url(../images/coke_3D_538.jpg);
	background-repeat: no-repeat;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 0;
	width: 100%;
	height: 180px;
	display: block;
}
#sprite_3D_image {
	background-image: url(../images/sprite_3D_538.jpg);
	background-repeat: no-repeat;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 0;
	width: 100%;
	height: 180px;
	display: block;
}
#pepper_3D_image {
	background-image: url(../images/pepper_3D_538.jpg);
	background-repeat: no-repeat;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 0;
	width: 100%;
	height: 180px;
	display: block;
}
#product_3D_image {
	background-image: url(../images/product_3D_538.jpg);
	background-repeat: no-repeat;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	width: 100%;
	height: 180px;
	display: block;
}
.imageBox {
    width: 96.5%;
    padding: 5px;
    border: 1px solid rgba(204,204,204,1);
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
}
.imageBox:hover{
	border: 1px solid black;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_text {
	clear: none;
	float: right;
	width: 80%;
	display: block;
	background-color: rgba(232,232,232,.8);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: auto;
	margin-bottom: 5%;
	padding: 12px;
	border: 1px solid black;
	border-radius: 10px;
}
#main_text h2 {
	color: rgba(93,120,159,1);
	font-size: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#main_text h3 {
	font-size: 11px;
	margin: 0px;
}
#main_text p {
	font-size: 9px;
	margin: 0px;
	line-height: 1.2;
}
#mainContentsContainer{
	clear:both;
	float:left;
	margin-left:0;
	width:100%;
	display:block;
}
#cameraButtons {
    clear: both;
    float: left;
    margin: 5px;
    width: 22%;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    display: block;
}
#cameraButtons h2 {
    color: black;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 7px;
}
#model3d {
    clear: none;
    float: left;
    margin-top: 5px;
    margin-left: .5%;
    width: 73%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    display: block;
}
X3D, x3d {
    background: rgba(255,255,255,0);
    width: 100%;
    height: 145px;
    border-radius: 5px;
    border: 0px solid white;
}
.x3dom-canvas {
    border: none;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    width: 100%;
    height: 100%;
    float: left;
}
#galleryLinks{
	display:none;
}
#galleryLinksMob{
	clear:none;
	float:right;
	margin-top:5px;
	margin-left:1%;
	width:100%;
	display:block;
}
#galleryLinksMob img{
	width:30%;
}
.galleryBox {
	margin: 0;
    width: 96.5%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
}
.galleryBox:hover{
	border: 1px solid yellow;
}
#drinksText{
	clear:both;
	float:left;
	margin-left:0;
	width:100%;
	display:block;
	background: rgba(255,251,240,1);
	border: 2px solid rgba(245,0,0,1);
	border-radius: 5px;
	margin-bottom:10px;
	margin-top:10px;
	text-align:justify;
}
#drinksText h2 {
    font-size: 140%;
}
#drinksText a {
    color: #FFF;
}
#downText{
	clear:both;
	float:left;
	margin-left:0;
	width:100%;
	height:181px;
	display:block;
	background: rgba(221,221,221,.8);
	border: 2px solid rgba(175,0,0,1);
	border-radius: 5px;
}
#downText a {
    color: #000;
}
#downText h3 {
    font-size: 120%;
}
#downText h4 {
    font-size: 60%;
}
#fb_plugin{
	width:100%;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.9333%;
	padding-left: 1.0333%;
	padding-right: 1.0333%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header img{
	max-width:325px;
}
#homeSlideshow {
	height: 238px;
}
#bottom_row h2{font-size: 175%;}
#siteBox{    
    height:70%;      
}

#coke_3D_image {
	background-image: url(../images/coke_3D_970.jpg);
	background-repeat: no-repeat;
	height: 305px;
	display: block;
}
#sprite_3D_image {
	background-image: url(../images/sprite_3D_970.jpg);
	background-repeat: no-repeat;
	height: 305px;
	display: block;
}
#pepper_3D_image {
	background-image: url(../images/pepper_3D_970.jpg);
	background-repeat: no-repeat;
	height: 305px;
	display: block;
}
#product_3D_image {
	background-image: url(../images/product_3D_970.jpg);
	background-repeat: no-repeat;
	height: 305px;
	display: block;
}
.imageBox {
    width: 94%;
    padding: 5px;
    border: 1px solid rgba(204,204,204,1);
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_text h2 {
	color: rgba(93,120,159,1);
	font-size: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#main_text h3 {
	font-size: 11px;
	margin: 0px;
}
#main_text p {
	font-size: 10px;
	margin: 0px;
	line-height: 1.2;
}
#cameraButtons {
    clear: both;
    float: left;
    margin: 5px;
    width: 18%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    display: block;
}
#cameraButtons h2 {
    color: black;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 12px;
    padding-left: 8px;
}
#model3d {
    clear: none;
    float: left;
    margin-top: 5px;
    margin-left: 2%;
    width: 76%;
    display: block;
}
X3D, x3d {
    background: rgba(255,255,255,0);
    width: 100%;
    height: 270px;
    border-radius: 5px;
    border: 0px solid white;
}
#galleryLinks {
    display: none;
}
#galleryLinksMob {
    clear: none;
    margin-top: 5px;
    margin-left: 2%;
    width: 100%;
    display: block;
}
#galleryLinksMob img{
	width:32%;
}
.galleryBox {
    width: 94%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
}
#drinksText h2 {
    font-size: 170%;
}
#downText{
	height:305px;
}
#downText h3 {
    font-size: 150%;
}
#h2box{
	color: rgba(93,120,159,1);
    font-size: 17px;
    margin: 10px 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header img{
	max-width:430px;
}
#homeSlideshow {
	height: 453px;
}
#middle_row img{width:50%;}
#bottom_row h2{font-size: 200%;}
iframe{
	width:48%;
	height:315px;
}
#coke_3D_image {
	background-image: url(../images/coke_3D_1400.jpg);
	background-repeat: no-repeat;
	height: 462px;
	display: block;
}
#sprite_3D_image {
	background-image: url(../images/sprite_3D_1400.jpg);
	background-repeat: no-repeat;
	height: 462px;
	display: block;
}
#pepper_3D_image {
	background-image: url(../images/pepper_3D_1400.jpg);
	background-repeat: no-repeat;
	height: 462px;
	display: block;
}
#product_3D_image {
	background-image: url(../images/product_3D_1400.jpg);
	background-repeat: no-repeat;
	height: 462px;
	display: block;
}
.imageBox {
    width: 96%;
    padding: 5px;
    border: 1px solid rgba(204,204,204,1);
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_text {
	clear: none;
	float: right;
	margin-left: 1.6949%;
	margin-top: 2%;
	width: 32.2033%;
	display: block;
	right: 0px;
	bottom: 0px;
}
#main_text h2 {
	color: rgba(93,120,159,1);
	font-size: 24px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#main_text h3 {
	font-size: 16px;
	margin: 0px;
}
#main_text p {
	font-size: 15px;
	margin: 0px;
	line-height: 1.2;
}
#cameraButtons {
    clear: both;
    float: left;
    margin: 10px;
    width: 10%;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    display: block;
}
#cameraButtons h2 {
    color: black;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
}
#model3d {
    clear: none;
    float: left;
    margin-top: 10px;
    margin-left: 0.5%;
    width: 70%;
    height: 445px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    display: block;
}
X3D, x3d {
    background: rgba(255,255,255,0);
    width: 100%;
    height: 425px;
    border-radius: 5px;
    border: 0px solid white;
}
#galleryLinks {
    clear: none;
    float: right;
    margin-top: 10px;
    margin-left: 1.6949%;
    width: 14%;
    display: block;
}
#galleryLinksMob {
    display: none;
}
.galleryBox {
    width: 94%;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
}
#drinksText{
    display:none;
}
#downText{
	height:462px;
}
#downText h3 {
    font-size: 200%;
}
#downText h4 {
    font-size: 120%;
}
#h2box{
	color: rgba(93,120,159,1);
    font-size: 24px;
    margin: 10px 0;
}
#h3box {
    font-size: 14px;
    margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
}
}